<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Reisetipps für Zürich</title>
</head>
<body>
<main>
    <h1>Reisetipps für Zürich</h1>
    <img src="zurich.jpeg" alt="Zürich">
    <section>
        <h2>Allgemeines</h2>
        <p>
            <a href="https://www.stadt-zuerich.ch">Zürich</a> liegt an der <strong>Limmat</strong>. Deshalb wird die
            Stadt auch <em>Limmatstadt</em> genannt. Es leben rund 400 000 Einwohner in der Stadt. Zürich ist in zwölf
            Kreise aufgeteilt. Die Geschichte der Stadt geht bis in die Römerzeit zurück. Hier ein Text über zwei der
            drei Stadtpatrone:
        </p>
        <p>
            <strong>Felix und Regula</strong><br/>
            Die ersten Christen, die in unserer Gegend den neuen Glauben verkündeten, waren die Geschwister
            Felix und Regula mit ihrem Begleiter und Diener Exuperantius. Sie waren wegen ihres
            Glaubens aus dem Wallis vertrieben worden. In einer Hü̈tte am Ufer der Limmat fü̈hrten sie ein
            frommes Leben und versuchten, die Heiden vom Aberglauben und Götzendienst zu befreien.
            Das vernahm der römische Statthalter Decius, der in einer Burg auf dem Lindenhof wohnte. Er
            hasste den christlichen Glauben. Eines Tages, als Felix und Regula in ihrer Huütte beteten,
            wurden sie samt ihrem Gefährten gefangengenommen. Die Knechte fü̈hrten sie auf die Burg vor
            ihren Herrn. Der forderte sie auf, den christlichen Glauben abzuschwören und den heidnischen
            Göttern zu opfern. Aber die frommen Geschwister sagten: <q>Wir opfern deinen Göttern nicht und
            beten deine Götter nicht an, sondern den allmächtigen Gott, unsern Heiland.</q> Der Statthalter
            drohte, er werde sie quälen und peinigen. Aber die Geschwister erwiderten: <q>Unsere Leiber hast
            du in deiner Gewalt, aber unsere Seelen nicht.</q> Da wurden alle drei an Säulen gebunden und
            mit Peitschen und eisernen Stäben blutig geschlagen. Doch sie klagten nicht, sondern priesen
            Gott und sprachen:
        </p>
        <p>
            <q>Wir danken dir, Herr Gott, Jesus Christus, dass wir um deines Namens willen so viel leiden dürfen.</q>
        </p>
        <p>
            Als nun Decius sah, dass sie trotz allen Martern standhaft blieben, befahl er, man solle die Gefangenen ans
            andere Ufer hinü̈berfü̈hren und mit dem Beile enthaupten. Mit erhobenen Händen blickten sie noch gegen den
            Himmel und riefen:
        </p>
        <p>
            <q>Barmherziger Gott, nimm unser Haupt gnädig zum Opfer an!</q>
        </p>
        <p>
            Dann beugten sie sich nieder auf den Block und empfingen den Todesstreich. Doch siehe, die Enthaupteten
            nahmen die blutigen Häupter auf ihre Arme und schritten durch die erschrockene Menge zum nahen Huügel hinan.
            Dort wurden sie dann begraben. Sie waren ihrem Glauben treu geblieben bis in den Tod.
        </p>
    </section>
    <section>
        <h2>Anreise</h2>
        <ul>
            <li>
                Flugzeug: Der Flughafen Zürich ist ein Drehkreuz Europas. Es werden zahlreiche Direktverbindungen von
                und nach Zürich angeboten.
            </li>
            <li>
                Zug: Der Hauptbahnhof von Zürich (Zürich HB) ermöglicht eine schnelle und einfache Anreise aus allen
                Orten der Schweiz. Auch internationale Verbindungen werden mehrmals pro Tag angeboten.
            </li>
            <li>
                Auto: Autobahn A1 von Bern, Autobahn A2/A3 von Basel bzw. A3 von Chur, Autobahn A4 von Schaffhausen bzw.
                Zug.
            </li>
        </ul>
    </section>
    <section>
        <h2>12hrs in Zürich</h2>
        <ol>
            <li>
                <span>08:00 Uhr</span>
                Frühstück im <a href="https://www.kafischnaps.ch/de/">Kafischnaps</a> (auch gut für eine
                Übernachtung)
            </li>
            <li>
                <span>10:00 Uhr</span> In der Alstadt schlendern: Starten Sie am Central. Nehmen Sie die
                Polybahn zur ETH. Gehen Sie
                von dort über die UZH ins Niederdorf. Die Tour endet am Bellevue.
            </li>
            <li>
                <span>12:00 Uhr</span> Schnappen Sie sich einen Snack beim <em>Sternen Grill</em>. Eine
                Bratwurst?
            </li>
            <li>
                <span>14:00 Uhr</span> Über den Opernplatz zum Bürkliplatz. Danach durch die
                Bahnhofstrasse zum Hauptbahnhof. Nehmen Sie dort ein Tram zum Schiffbau.
            </li>
            <li>
                <span>16:00 Uhr</span> Zürich West: Freitag Tower, Turbinenplatz, Museum für Gestaltung
            </li>
            <li>
                <span>18:00 Uhr</span> Schauen Sie ob es bei Chillies ein All-You-Can-Eat Buffet gibt.
            </li>
            <li>
                <span>20:00 Uhr</span> Falls Fussball läuft gehen Sie ins <q>Kaiser Franz</q> sonst ins
                <q>El Lokal</q>
            </li>
        </ol>
    </section>
    <section>
        <h2>Sehenswürdigkeiten</h2>
        <ul>
            <li>Paradeplatz</li>
            <li>Sechseläutenplatz mit Opernhaus</li>
            <li>ETH und UZH</li>
            <li>Niederdorf</li>
            <li>Limmatufer mit Grossmünster</li>
        </ul>
    </section>
</main>
</body>
</html>